@model IEnumerable<WebCustumerManagerApp.Models.EntityOccupationGroup>

@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Occupation</title>
</head>
<body>

    <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
    </script>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-success"})
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OccupationGroupTitle)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OccupationGroupTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", null, new { id=item.OccupationGroupId }, new { @class="btn btn-primary"}) |
                @Html.ActionLink("Details", "Details", null, new { id=item.OccupationGroupId }, new { @class = "btn btn-info" }) |
               @if (item.ListOfCustomers.Any())
               {
                    @Html.ActionLink("Delete", "Delete", null, new { id = item.OccupationGroupId }, new { @class = "btn btn-danger disabled"}) 
                        <a href = "#" data-toggle = "tooltip" title = "This occupation could not be deleted">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                        </a>
               }
               else
               {
                    @Html.ActionLink("Delete", "Delete", null, new { id = item.OccupationGroupId }, new { @class = "btn btn-danger" })
               }
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
